---
default_description: Work Betta
---

= image_tag 'workbetta.png', class: 'ui small circular image centered'

%h1.ui.header.centered.name.inverted
  %strong Work Betta Ltd
  specializes in
  %br
  Developer Experience and
  %br
  Developer Relations consulting


%br
%br

%h2.ui.horizontal.divider Our services

%br

#services.ui.horizontal.segments
  .ui.segment
    %h2.ui.header.inverted
      %i.ui.users.icon
      .content
        .sub.header Developer
        Relations

    .ui.segments
      .ui.inverted.segment Event Strategy
      .ui.inverted.segment Content Strategy
      .ui.inverted.segment Evangelism Training
      .ui.inverted.segment Presenter Training

  .ui.segment
    %h2.ui.header.inverted
      %i.ui.laptop.icon
      .content
        .sub.header Developer
        Experience

    .ui.segments
      .ui.inverted.segment
        Expert DX review

      .ui.inverted.segment
        Onboarding Review
      .ui.inverted.segment DX Design
      .ui.inverted.segment Workshops & Training

  .ui.segment
    %h2.ui.header.inverted
      %i.ui.code.icon
      .content
        .sub.header Developer
        Engineering
    .ui.segments
      .ui.inverted.segment SDK Development
      .ui.inverted.segment API Specification
      .ui.inverted.segment API Development
      .ui.inverted.segment Docs & Tutorials

%br
%br
%br

.ui.centered.grid
  .row
    %a.ui.left.labeled.button{ href: '/services' }
      %span.ui.white.basic.right.pointing.label
        Reserve a

      %span.ui.white.basic.inverted.button
        Expert Developer Experience Review

%br
%br


%h2.ui.horizontal.divider Clients

#clients.ui.horizontal.segments
  - data.clients.each do |client|
    .ui.segment
      = link_to image_tag("clients/#{client['image']}", class: 'ui image'), client['url']

%h2.ui.horizontal.divider
  Recent projects

.ui.relaxed.divided.list.inverted
  - data.projects.each do |project|
    .item
      %i.large.middle.aligned.icon.icon-fixed-width{class: project['icon']}
      .content
        %a.header{href: project['url']}= project['title']
        .description= project['description']

%h2.ui.horizontal.divider
  Recent articles

.ui.relaxed.divided.list.inverted
  - data.articles.each do |article|
    .item
      %i.large.middle.aligned.icon.icon-fixed-width{class: article['icon']}
      .content
        %a.header{href: article['url']}= article['title']
        .description= article['description']

= partial 'partials/footer'
