---
title: Developer Experience Consultation
---

= image_tag 'workbetta.png', class: 'ui small circular image centered'

%h1.ui.header.centered.name.inverted
  Want
  %strong actionable
  recommendations
  %br
  for your developer experience?


%h3.ui.header.centered.inverted
  %em Get a private review of your product!

%br
%br

.ui.centered.grid
  .row
    %a.ui.left.labeled.button{ href: 'mailto:work@betta.io?subject=Expert Developer Experience Review' }
      %span.ui.white.basic.right.pointing.label
        Reserve

      %span.ui.white.basic.inverted.button
        Get in Contact

%br
%br
%br

%h2.ui.header.centered.inverted
  Your review will include

%h2.ui.horizontal.divider
  Your priorities

%p A highlight of your biggest priorities, conventiently broken down into actionable items. This priority list serves as a great way to get your kanban or scrum board set up with new epic features that tackle the biggest parts of your overal developer experience.

%br

.ui.centered.grid
  .row
    .ui.large.bordered.rounded.image
      .ui.yellow.right.ribbon.label
        Sample
      = image_tag 'services/yourpriorities.png'

%h2.ui.horizontal.divider
  A checklist


%p  A full checklist of the issues affecting your product. Checked against a database of over 130 developer experience best practices. Every issue will include an overview of the cause, and useful suggentions as to how to solve them.

%br

.ui.centered.grid
  .row
    .ui.large.bordered.rounded.image
      .ui.yellow.right.ribbon.label
        Sample
      = image_tag 'services/checklist.png'

%h2.ui.horizontal.divider
  An overview

%p An overview of the core principles of developer experience, ranging from documentation, to onboarding, to getting to know your user base. This overview is an essential read for your entire team to help them understand the goals and purpose of a good developer experience.

%br

.ui.centered.grid
  .row
    .ui.large.bordered.rounded.image
      .ui.yellow.right.ribbon.label
        Sample
      = image_tag 'services/coreprinciples.png'

%h2.ui.centered.horizontal.divider Customers

#clients.ui.horizontal.segments
  .ui.segment
    = image_tag("clients/interfax.png", class: 'ui image')
  .ui.segment
    = image_tag("clients/virgil.png", class: 'ui image')

%h2.ui.centered.horizontal.divider Follow up consultation

%br

%p Part of this package is a follow up consultation with Work Betta in which we will cover all the recommendations and issues live. During this consultation we can help clarify all the issues. With our large network of developer proffesionals we can help to get you set up to start implementing the changes needed in no time.

%h2.ui.centered.horizontal.divider SUMMARY

%h1.ui.header.centered.name.inverted
  A 20+ page
  %strong actionable
  report
  %br
  on your developer experience

%br

.ui.centered.grid
  .row
    %a.ui.left.labeled.button{ href: 'mailto:work@betta.io?subject=Expert Developer Experience Review' }
      %span.ui.white.basic.right.pointing.label
        %i.black.icon.mail

      %span.ui.white.basic.inverted.button
        Get in Contact



= partial 'partials/footer'
